@import "vars.scss";

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.75;
  font-family: Play, sans-serif;
  overflow-x: hidden;
  opacity: 1;
  margin: 0;
  color: $font;
}

.img_responsive {
  display: block;
  min-width: 100%;
  height: auto;
  text-align: center;
}