@import "base.scss";
@import "vars.scss";
@import "fonts.scss";

.grid {
  display: grid;
}

.main_header {
  min-height: 100vh;
  background-image: url("https://pp.userapi.com/c841534/v841534079/657ad/uQttm6-8d5E.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  align-content: center;
}

.main_header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: $dark;
  opacity: .80;
  text-align: center;
}

.header_content {
  z-index: 1;
  color: $white;
  text-align: center;
  padding: 60px $gutter;
  h1 {
    font-size: 60px;
    font-family: Play, sans-serif;
    font-weight: bold;
    margin: 20px 0;
    line-height: 1.5;
  }
}