@import "base.scss";
@import "vars.scss";
@import "fonts.scss";

.grid {
  display: grid;
}

.main_header {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  align-content: center;
}

.main_header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: $dark;
  opacity: .60;
  text-align: center;
}

.header_content {
  z-index: 1;
  color: $white;
  text-align: center;
  padding: 60px $gutter;
  h1 {
    font-size: 60px;
    font-family: Play, sans-serif;
    font-weight: bold;
    margin: 20px 0;
    line-height: 1.5;
  }
  .button {
    margin: 10px;
    padding: 10px 65px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
}

.button {
  display: inline-block;
  border: none;
  color: $white;
  text-decoration: none;
  background-color: $dark;
  padding: 15px 45px;
  font-size: 13px;
  border-radius: 2px;
  text-align: center;
  position: relative;
  outline: none;
  transition: background-color .1s ease;
  cursor: pointer;
}

.button::after {
  transition: background-color .2s ease;
  position: absolute;
  content: '';
  height: 4px;
  bottom: 0;
  width: 100%;
  background-color: $black;
  opacity: .18;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  left: 0;
}

.button:focus{
  background-color: $grayer;
}
.button:hover {
  text-decoration: none;
  color: $white;
}

.button:hover {
  background-color: $gray;
}

.button:hover::after {
  opacity: .22;
}

.button:active {
  background-color: $accent;
}

.button:active::after {
  opacity: .32;
}

.portfolio_section {
  padding: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.portfolio_item {
  min-height: 32vh;
  background-size: cover;
  background-position: center;
  text-align: center;
  align-content: center;
  padding: $gutter;
  font-size: 20px;
  font-weight: bold;
  color: $white;
  position: relative;
  transition: color .5s ease;
  cursor: pointer;
}

.portfolio_item::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: $dark;
  opacity: .45;
  text-align: center;
  transition: opacity .5s ease;
}

.portfolio_item > * {
  z-index: 1;
}

.portfolio_item:hover {
  text-decoration: none;
  color: $accent;
}

.portfolio_item:hover::before {
  opacity: .85;
}

.portfolio_item:nth-child(1){
  grid-column: 1 / 3;
}

.portfolio_item:nth-child(5){
  grid-column: 2 / 4;
}

.portfolio_item:nth-child(6){
  grid-column: 4;
  grid-row: 2 / 4;
}