@media only screen and (max-width: 1250px) {

  .header_content {
    h1 {
      line-height: 1.2;
    }
    .button {
      padding: 10px 30px;
    }
  }

  .blog_item {
    .blog_item_content {
      padding: 18px;
      h4 {
        font-size: 16px;
      }
      p {
        font-size: 14px;
      }
    }
  }
  .blog_item:nth-child(4) {
    h4 {
      font-size: 18px;
    }
    p {
      font-size: 16px;
    }
  }

  table#price {
    margin: {
      top: 0;
      left: 20%;
      right: 20%;
      bottom: 40px;
    }
  }
  table#price thead th,
  table#price tbody td {
    font-size: 14px;
  }
  table#price tbody td#subtitle {
    line-height: 1.1;
    font-size: 14px;
    font-weight: bold;
  }
  table#price tbody td#first_child {
    line-height: 1.1;
    font-size: 14px;
    font-weight: bold;
  }

  .button {
    padding: 15px 5px;
    font-size: 15px;
  }

  .landing_section {
    padding: 80px 0;
    h2 {
      font-size: 25px;
      line-height: 1.2;
    }
  }
  .landing_section {
    .about_content {
      .about_content_left {
        h2 {
          margin-bottom: 20px;
        }
        article {
          font-size: 13px;
        }
      }
    }
  }

}